@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Urbanist:wght@100;300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "BNPPSansBold";
  src: url("./assets/BNPPSansBold.woff2") format("woff2");
  font-display: swap;
}

div {
  font-family: "Open Sans";
}

.hover-animate-div {
  position: relative;
  background-color: white; /* Original background color */
  overflow: hidden;
  transition: background-color 0.5s ease; /* Transition for the background color change */
}

.hover-animate-div::before {
  content: '';
  position: absolute;
  top: 0; /* Start from the top */
  left: 0;
  right: 0;
  height: 0%; /* Initially, the pseudo-element doesn't cover anything */
  background-color: rgb(229, 231, 235); /* The color you want to transition to */
  z-index: 0; /* Ensure it's below the content */
  transition: height 0.5s ease; /* Animation speed */
}

.hover-animate-div:hover::before {
  height: 100%; /* On hover, the pseudo-element covers the entire div */
}

/* Ensure content inside the div is positioned above the pseudo-element */
.hover-animate-div > * {
  position: relative;
  z-index: 1;
}